.menu{
    display: flex;
    text-align: center;
    background-color: rgb(63, 255, 95);
    font-family:'Courier New', Courier, monospace;
    justify-content: center;
    box-shadow: 1px 1px 10px black;
}
.texto{
    color: white;
    font-family:monospace;
    text-shadow: 1px 1px 4px black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: url(istockphoto-1477437266-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.logo{
height: 300px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card {
  width: 190px;
  height: 254px;
  background: rgb(59, 255, 141);
  transition: all 0.4s;
  background-image: url(istockphoto-503666276-612x612.jpg);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
  box-shadow: 1px 1px 10px black;
}

.card:hover {
  border-radius: 15px;
  cursor: pointer;
  background-image: url(istockphoto-1477437266-612x612.jpg);
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  background: rgb(103, 151, 255);
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}
.cartas{
    text-align: center;
    color: white;
}
.tarjeta1{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10%;
    align-items: center;
    text-align: center;
    background-color: rgb(104, 255, 150);
    font-size: medium;
    box-shadow: 1px 1px 40px black;

}
.bienvenida{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 4px black;
    text-align: center;
    font-family:monospace;
}
.script{
    text-align: center;
}
.tarjetas{
    display: flex;
    justify-content: space-around;
    border-radius: 40%;
}
.Alimentos{
    display: flex;
    height: 100px;
    color: rgb(44, 44, 44);
    background-color: rgb(167, 167, 167);
    text-align: center;
    justify-content: center;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    font-family: fantasy;
}
#video_background {
position: absolute;
bottom: 0px;
right: 0px;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1000;
overflow: hidden;
}
.tarjetas2{
    display: flex;
    justify-content: space-evenly;
}
.rutina{
    color: rgb(0, 36, 14);
    background-color: rgb(84, 255, 161);
    box-shadow: 1px 1px 40px black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.aero{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family:monospace;
    color: white;
    text-shadow: 1px 1px 10px black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    filter: drop-shadow(1px 1px 30px rgb(17, 17, 17));

}
.cardio{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family:monospace;
    color: white;
    text-shadow: 1px 1px 10px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 30px rgb(17, 17, 17));
}
.fuerza{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family:monospace;
    color: white;
    text-shadow: 1px 1px 10px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 30px rgb(17, 17, 17));

}
.canal {
    width: 150px;
    height: auto;

}
.logo {
    width: 150px;
    height: auto;
}
.retu {
    width: 200px;
    height: auto;
}
.retu1 {
    color: rgb(125, 255, 113);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-shadow: 1px 1px 10px black;
}
.cami1 {
    color: rgb(125, 255, 113);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-shadow: 1px 1px 10px black;
}
.cami {
    width: 200px;
    height: 170px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(125, 255, 113);
    text-shadow: 1px 1px 10px black;
    display: flex;
    border-radius: 60%;
    justify-content: flex-start;
    flex-wrap: wrap;

}
@media screen and (max-width: 768px) {
  .logo {
    width: 150px;
    height: auto;
  }
  .menu {
    

  }
  body {
    font-size: 16px;
    margin: 10px;
  }

  .contenedor {
    flex-direction: column;
    padding: 10px;
  }

  img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
    .logo {
        width: 100px;
        height: auto;
    }
    
}

.Ciclismo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family:monospace;
    color: white;
    text-shadow: 1px 1px 10px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 30px rgb(17, 17, 17));
}
.calentamiento{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family:monospace;
    color: white;
    text-shadow: 1px 1px 10px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 30px rgb(17, 17, 17));
}
.Pesas{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family:monospace;
    color: white;
    text-shadow: 1px 1px 10px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 30px rgb(17, 17, 17));
}
.retu{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(125, 255, 113);
    text-shadow: 1px 1px 10px black;
    display: flex;
    border-radius: 60%;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.objetivos2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family:monospace;
    color: white;
    text-shadow: 1px 1px 10px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 30px rgb(17, 17, 17));
}